body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.dndflow {
    flex-direction: column;
    display: flex;
    height: 100%;
}

.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .dndnode {
    height: 30px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.dndflow .dndnode.input {
    border-color: #0041d0;
}

.dndflow .dndnode.output {
    border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 90vh;
    width: 100vw;
    border: 1px solid #aaa;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 20%;
        max-width: 250px;
    }
}

/* Milligram */
.button-full {
    width: 100%;
}

aside{
    border-top: 1px solid #aaa;
}

.ReactModalPortal > div{
    z-index: 9;
}

th, td{
    font-size: 1.2rem;
}

.game-node .button,
.game-node button,
.game-node input[type=button] {
    background-color: #4da2ca;
    border: 0.1rem solid #4da2ca;
}

.game-node .button-outline,
.game-node button-outline,
.game-node input[button] {
    border: 0.1rem solid #4da2ca !important;
    color: #4da2ca !important;
    background-color: transparent !important;
}

.react-flow__node.react-flow__node-RoomNode.selected {
    border: 3px solid #9b4dc9;
}

.react-flow__node.react-flow__node-GameNode.selected {
    border: 3px solid #4da2ca;
}

.icon{
    margin: 5px;
}

.mb-0{
    margin-bottom: 0 !important;
}

.card-shadow{
    box-shadow: 1px 1px 3px -1px rgb(0 0 0 / 54%);
-webkit-box-shadow: 1px 1px 3px -1px rgb(0 0 0 / 54%);
-moz-box-shadow: 1px 1px 3px -1px rgb(0 0 0 / 54%);
}

.draggableI {
    background-image: url('./icons/draggable.svg');
    background-position: 8px 6px;
    background-size: 10px 15px;
    background-repeat: no-repeat;
}